* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; 
   
    scroll-padding-top: 90px; 
}

body {
    background-color: black;
}

#header {
    background-color: #218e00; 
    position: fixed;
    z-index: 900;
    width: 100%;
}

#nav {
    padding: 2em;
    margin-left: 2em;
    box-sizing: border-box;
    
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 5em;
}

#nav-links li {
    position: relative;
}

#nav-links li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-bottom: 15px; 
    margin-bottom: -15px;
    font-weight: bold;
}


.nav-sub-links {
    display: none;        
    position: absolute;   
    top: 100%;  
    left: 0;
    background-color: white; 
    min-width: 220px;     
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
    list-style: none;
    padding: 10px 0;
    margin: 0;            
    z-index: 1000;        
}


.nav-sub-links li a {
    padding: 15px 20px;
    font-size: 14px;
    color: #333 !important; 
}


.nav-sub-links li a:hover {
    background-color: #f5f5f5;
    color: #000074 !important; 
}

.sub-link:hover .nav-sub-links {
    display: block;
    transform: translateY(1em);
}

.sobre {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.grupos {
    display: flex;
    margin-top: 110px;
    gap: 100px;
    justify-content: center;
}

.grupos button {
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
}

#grupo-b {
    display: block;
    margin: 100px;
    border: 8px blur;
    border-color: #fff53e;
    box-shadow: inset 0px 0px 10px 10px #fff53e;
    border-radius: 40px;
    padding: 30px;
}    

.btn-pais {
    display: inline-flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: bold;
}
.imgs-botoes {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.h1 {
    color: #ffffff;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.secao-introducao {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.imgs-texto-lado {
    justify-content: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 10px;
    color: #ffffff;
}

.imgs-texto-lado img {
    border-radius: 20px;
}

.texto-pt1 {
 
    margin-left: 30px;
    color: #ffffff;
}

/* Esconde o grupo COMPLETO (inclusive as caixas vermelhas com borda) */
.conteudo-grupo {
    display: none !important; /* Força sumir tudo */
    margin: 50px auto;
    max-width: 1200px;
    border: 4px solid #fff53e;
    box-shadow: inset 0px 0px 10px 5px #fff53e;
    border-radius: 40px;
    padding: 30px;
}

/* Esconde os países individualmente */
.conteudo-pais {
    display: none;
}

/* Quando o grupo ganha a classe '.ativo', ele passa a existir na tela */
.conteudo-grupo.ativo {
    display: block !important;
}

/* Quando o país ganha a classe '.ativo', ele aparece dentro do grupo */
.conteudo-pais.ativo {
    display: block !important;
}

/* Estilização dos botões de Países */
.botoes-paises {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn-pais {
    background-color: #222;
    color: white;
    border: 2px solid #218e00;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pais:hover, .btn-pais.ativo-btn {
    background-color: #135000;
    color: rgb(255, 255, 255);
}


.btn-grupo {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn-grupo.ativo-btn {
    border-bottom: 3px solid #fff53e;
}

.direitos-reservados {
     display: flex;
     text-align: center;
     flex-direction: column;
     width: 100%;
     color: #ffffff; 
}


#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #218e00;
    padding: 70px 80px;
}

#links-footer {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

#links-footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 17px;
    gap: 0.5em;
    
}

#links-footer ul li a {
    text-decoration: none;
    color: white;
    
}

#links-footer ul li a:hover{
    color: #165d00;
}

#links-footer ul li:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
}

#logo-footer a {
    background-color: white;
    color: #000074;
    text-decoration: none;
    width: fit-content;
    padding: 10px 20px;
    font-weight: bold;
}